*~

/aclocal.m4
/ar-lib
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/m4/
/autom4te.cache/
/include/config.h
/include/config.h.in
/include/stamp-h1

Makefile
Makefile.in
*.o
*.lo
*.la
.deps/
.libs/

/lib
/*.ign/

